<div class="side-nav">
  <div class="side-user">
    <div class="user">
      <%= link_to current_user.name, edit_user_path(current_user) %>
      <%# <a href= "#">Tom</a> %>
    </div>
  </div>
  <div class="side-createchat">
    <div class="create-chat">
      <%= link_to "チャットを作成する", new_room_path%>
      <%# <a href="#">チャットを作成する</a> %>
    </div>
  </div>
</div>
<div class="side-chatitle">
  <% current_user.rooms.each do |room| %>
    <div class="side-titlecontent">
      <%= link_to room.name, room_messages_path(room) %>
      <%# <a href="#">techroom1</a> %>
    </div>
  <% end %>
  <%# <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div> %>
  <%# <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div>
  <div class="side-titlecontent">
    <a href="#">techroom1</a>
  </div> %>

</div>